{% extends "blog/post_list.html" %}


{% block content %}
	<h1>{{object.titulo}}</h1>
	<p>INTRODUCCION: {{object.intro}}</p>
	<p>MAS INFO: {{object.mas}}</p>

	{% if comments %}
		COMENTARIOS:
		<p>
		{% for c in comments %}
			<p>
			<li>{{c.texto}}</li>
			</p>
		{% endfor %}
		</p>
	{%endif%}

        <a href="{% url "post_update" pk=object.pk %}"><button type="submit">Editar Post</button></a>
        <a href="{% url "post_delete" pk=object.pk %}"><button type="submit">Borrar Post</button></a>

{% endblock%}
